<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicativo de Receitas</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"> 
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="container text-center my-5">
        <h1>Bem-vindo ao Aplicativo de Receitas</h1>
        <p>Encontre receitas deliciosas ou compartilhe suas próprias criações!</p>
    </header>

    <main class="container text-center my-5">
        <div class="row">
            <div class="col-md-6">
                <a href="crud_usuarios.html" class="btn btn-primary btn-lg">Cadastre-se</a>
            </div>
            <div class="col-md-6">
                <a href="login/login.html" class="btn btn-secondary btn-lg">Login</a>
            </div>
        </div>
    </main>

    <footer class="text-center my-5">
        <p>&copy; 2024 Aplicativo de Receitas</p>
    </footer>

    <script src="public/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap JS -->
</body>
</html>
